body {
  margin: 0;
  padding: 0;
  background-color: black;
  /* overflow-x: hidden; */
}

.background {
  width: 1440px;
  height: 2964px;
  background-color: #060000;
  position: relative;
  margin: 0 auto;
}

nav {
  display: flex;
  /* align-items: center; */
  justify-content: center;
}

/* Brand-logo and Navbar */

#navbar {
  position: absolute;
  top: 32px;
  /* right: 56px; */
  background-color: transparent;
  /* border: 1px solid black; */
  width: 1328px;
  /* margin: 0 auto; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
}
#logo {
  display: flex;
  align-items: center;
}
#brand-logo {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  gap: 16px;
  border: 3.5px solid #f3f2f1;
}

.brand-name {
  font-family: "Work Sans", sans-serif;
  color: #f3f2f1;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 40px;
  line-height: 47px;
}

#brand-logo:hover {
  border: 3.5px solid transparent;
  border-image: linear-gradient(90deg, #fe572e 0%, #ff4c80 100%);
  border-image-slice: 1;
}

.nav-end {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding: 0px;
  gap: 48px;
}

.nav-end a {
  color: #f3f2f1;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
}

#Classes:hover {
  font-weight: 400;
  background: linear-gradient(90deg, #fe572e 0%, #ff4c80 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

#training:hover {
  background: linear-gradient(90deg, #fe572e 0%, #ff4c80 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  /* text-fill-color: transparent; */
}

#plans {
  background: linear-gradient(90deg, #fe572e 0%, #ff4c80 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.true-trainers {
  color: #f3f2f1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 16px;
  position: absolute;
  left: 521px;
  top: 261px;

  /* border: 1px solid red; */
}

.heading {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: 50px;
  font-weight: 700;
}

.professionals {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;

  background: linear-gradient(90deg, #fe572e 0%, #ff4c80 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.plans-cards {
  position: absolute;
  top: 495px;
  left: 128px;
  height: 493px;
  width: 1184px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0px;
  gap: 49px;
}

.card1 {
  height: 493px;
  width: 362px;
  background-color: #ffffff;
  border: 1px solid green;
  border-radius: 32px;
}

.plan-type {
  margin-top: 48px;
  margin-bottom: 24px;
  color: #232a35;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  /* display: flex; */
  /* align-items: center;
  text-align: center; */
  text-transform: uppercase;
}

.cost {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 61px;
  text-align: center;

  /* display: flex;
align-items: center;
text-align: center; */
  text-transform: uppercase;
  color: #232a35;
}

.gymnast-type {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  background: linear-gradient(90deg, #fe572e 0%, #ff4c80 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  text-transform: uppercase;
  text-align: center;
  margin-top: 24px;
}

.sm-btn {
  margin-top: 24px;
  margin-bottom: 24px;
  padding: 13px 0px;
  text-align: center;
}

.plan-btn {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  background: linear-gradient(90deg, #fe572e 0%, #ff4c80 100%);
  border-radius: 100px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  padding: 14px 28px;
  text-transform: uppercase;
}

.plan-btn:hover {
  background: #fe572e;
}

.discription {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;

  /* margin-top: 8px; */
  /* margin-bottom: 8px; */
  text-align: center;
  color: #000000;
}

/* Offer Section */
.offer-sec {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 48px;

  width: 1184px;
  height: 440px;

  position: absolute;
  top: 1156px;
  left: 128px;
  border: 1px solid red;
}

.summer-sale {
  width: 568px;
  background-color: #ffffff;
  height: 440px;
}

.hot-summer {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  background: linear-gradient(90deg, #fe572e 0%, #ff4c80 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  margin: 81px 0 12px 0;
  text-align: center;
  text-transform: uppercase;
}

.sale {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 128px;
  line-height: 156px;
  /* identical to box height */
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 12px;
  color: #232a35;
}

.get-30 {
  /* width: 378px; */
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  text-transform: uppercase;

  color: #000000;
}

.on-your {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  text-transform: uppercase;

  color: #000000;
}

.offer-sec img {
  position: absolute;
  top: 36px;
  left: 32px;
}

.try-fitness {
  width: 568px;
  height: 440px;

  background: #232a35;
}

.tryfitness-world {
  margin-top: 89px;
}

.new {
  color: #ffffff;
}

.free-training-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  padding: 12px 24px;
}

.btn {
  margin-top: 64px;
  padding: 24px 0px;
}

.primary-btn {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  background: linear-gradient(90deg, #fe572e 0%, #ff4c80 100%);
  border-radius: 100px;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
  padding: 24px 48px;
}

.primary-btn:hover {
  background: #fe572e;
}

.cta-box {
  height: 489px;
  position: absolute;
  top: 1788px;
  background-color: white;
  width: 1440px;
}

.cta {
  position: absolute;
  left: 128px;
  top: 128px;

  /* color: #f3f2f1; */
  /* border: 1px solid red; */
}

.cta-btn {
  /* border: 1px solid blue; */
  /* height: 100px; */
  margin-top: 56px;
  padding: 24px 0px;
}

/* Footer Section */

footer {
  height: 687px;
  width: 100%;
  background-color: #060000;
  position: absolute;
  /* width: 1441px; */
  /* height: 687px; */
  /* left: 0px; */
  top: 2277px;
  /* z-index: -1; */
}

/* Brand-logo */

.brands {
  width: 440px;
  /* border: 1px solid red; */
  position: absolute;
  top: 128px;
  left: 56px;
}
#logos {
  display: flex;
  align-items: center;
}
#brand-logos {
  box-sizing: border-box;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  gap: 16px;
  border: 3.5px solid #f3f2f1;
}

.brand-names {
  font-family: "Work Sans", sans-serif;
  color: #f3f2f1;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 40px;
  line-height: 47px;
}

#brand-logos:hover {
  border-image: linear-gradient(90deg, #fe572e 0%, #ff4c80 100%);
  border-image-slice: 1;
}

/* Email and phone  */

.email-phone {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  gap: 4px;
}

.email-icon {
  width: 20px;
}

.mail {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 8px;
}
.email {
  color: #f3f2f1;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  margin: 0;
  line-height: 30px;
}

.phone-icon {
  width: 20px;
}

.phone {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 8px;
}

.call {
  color: #f3f2f1;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  margin: 0;
  line-height: 30px;
}

.contact-address {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  gap: 32px;
}

/* Social-icons */

.social-icons {
  height: 36px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 36px;
}

.icons {
  /* height: 24px; */
  width: 32px;
}

/* Address */

.address {
  /* border: 2px solid red; */
}

#address-social {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  gap: 72px;
  position: absolute;
  left: 128px;
  top: 253px;
}

/* Working Schedule */

.working {
  position: absolute;
  top: 253px;
  right: 224px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 32px;
}

.working-hours {
  color: #f3f2f1;
  font-size: 36px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  line-height: auto;
}

.line {
  position: absolute;
  top: 89.1%;
  left: 62px;
}

/* Copyright things */

.copyright {
  background-color: black;
  height: 63px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 2px solid #fe572e; */
  position: relative;
  top: 90.5%;
}

.end {
  color: #f3f2f1;
  font-family: "Work Sans", sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
}

/* Scroll to top button */

.upward {
  display: inline-block;
  position: absolute;
  bottom: 148px;
  right: 56px;
  cursor: pointer;
}

.upward .hovering {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}

.upward:hover .hovering {
  display: inline;
}

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  z-index: 99; /* Make sure it does not overlap */
}
